.list-item {
    vertical-align: middle;
}

.icon-col {
    padding: 0;
    text-align: center;
}

.icon-btn {
    padding: 0;
    background-color: transparent;
}

.bi {
    vertical-align: middle;
    margin-bottom: 5px;
}